name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
      - dev
      - master

jobs:
  check_all_english_links:
    name: Check all links
    runs-on: ubuntu-latest
  
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.x
          cache: npm
      - name: npm ci
        run: npm ci
      - name: npm run test
        run: npm run test:unit
